.flat-picture {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-negative {
  margin-top: -50px;
}

.flat-title {
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px rgb(220, 220, 220);
}

.flat-description {
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px rgb(220, 220, 220);
}

.flat-details {
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px rgb(220, 220, 220);
}

