<div class="navbar-flat">
    <div class="navbar-flat-left">
      <%= link_to "Simple AirBnB", root_path, class: "navbar-item navbar-link" %>
    </div>
    <div class="navbar-flat-right">
      <%= link_to "Add Flat", new_flat_path, class: "navbar-item navbar-link" %>
    </div>
</div>
